/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: Meiryo, "メイリオ","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック", sans-serif; color: #330000; font-size: 14px; line-height: 1.6em;}
body { margin: 0;}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #330000; text-decoration: none; }
mark { background: #ff0; color: #330000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol , p { margin: 0; padding: 0 0 0 0; }
ul>li,ol>li{list-style-type:none;}
dd { margin: 0 0 0 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; vertical-align: top; width: 100%;}

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
h1,h2,h3,h4,h5{padding: 0; margin: 0;}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.cfix:before, .cfix:after { content: ""; display: table; }
.cfix:after { clear: both; }
.cfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * { /*background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;*/ } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  /*a[href]:after { content: " (" attr(href) ")"; }*/
  /*abbr[title]:after { content: " (" attr(title) ")"; }*/
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
	body {
		-webkit-print-color-adjust: exact;
	}
}

/* ==========================================================================
    [全デバイス共通]
   ========================================================================== */

/* ----------------------------------------
 html要素デフォルト設定 
 ---------------------------------------- */
body{
	background:#fff;
}
a,a:visited{display: block; text-decoration: none; color: #330000; margin: 0; padding: 0; line-height: 1;}
a:hover,a:visited{330000:#1198e3;}
::selection {
	background: #3297FD;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #3297FD;
	color: #fff;
	text-shadow: none;
}
em,i{font-style: normal;}

/* ----------------------------------------
 基本ページ構造 
 ---------------------------------------- */
.clrR{color: #e83836 !important;}
.clrB{color: #330000 !important;}

.posiR{position: relative !important;}
.posiA{position: absolute !important;}

.algnR{text-align: right !important;}
.marginC{margin: 0 auto !important;}

/*■文字の設定*/
.fntS	{font-size: 71.5% !important;} /*10px*/
.fnt2S	{font-size: 86% !important;} /*12px*/
.fntL	{font-size: 93% !important;} /*13px*/
.fntXL	{font-size: 114.5% !important;} /*16px*/
.fnt2XL	{font-size: 128.5% !important;} /*18px*/
.fnt3XL	{font-size: 143.8% !important;} /*20px*/
.fnt4XL	{font-size: 171.5% !important;} /*24px*/

.Bld	{font-weight: bold !important;}
.Nml	{font-weight: normal !important;}
.clrRed {color: #F00;}
.clrKey { color: #54BA73;}
.aClr { color: #C91; text-decoration: underline;}
/*■配置の設定*/

/*縦位置*/
.vlgnT	{vertical-align: top !important;}
.vlgnM	{vertical-align: middle !important;}
.vlgnB	{vertical-align: bottom !important;}

/*横位置*/
.algnR	{text-align: right !important;}
.algnL	{text-align: left !important;}
.algnC	{text-align: center !important;}

/*■マージン、パディング設定*/
/*下マージ*/
.mgB1	{margin-bottom: 1px !important; }.mgB3	{margin-bottom: 3px !important;}
.mgB5	{margin-bottom: 5px !important; }.mgB10	{margin-bottom: 10px !important;}
.mgB15	{margin-bottom: 15px !important;}.mgB20	{margin-bottom: 20px !important;}
.mgB25	{margin-bottom: 25px !important;}.mgB30	{margin-bottom: 30px !important;}
.mgB35	{margin-bottom: 35px !important;}.mgB40	{margin-bottom: 40px !important;}
.mgB45	{margin-bottom: 45px !important;}.mgB50	{margin-bottom: 50px !important;}
.mgB55	{margin-bottom: 55px !important;}.mgB60	{margin-bottom: 60px !important;}
.mgB65	{margin-bottom: 65px !important;}.mgB70	{margin-bottom: 70px !important;}
.mgB75	{margin-bottom: 75px !important;}.mgB80	{margin-bottom: 80px !important;}
.mgB85	{margin-bottom: 85px !important;}.mgB90	{margin-bottom: 90px !important;}
.mgB95	{margin-bottom: 95px !important;}.mgB100{margin-bottom: 100px !important;}
/*左マージン*/
.mgLS	{margin-left: 22.5px !important;}
/*右マージン*/
.mgR10	{margin-right: 10px !important;}.mgR15	{margin-right: 15px !important;}
.mgR20	{margin-right: 20px !important;}.mgR30	{margin-right: 30px !important;}
/*左右マージン*/
.mgRL5	{margin-right: 5px !important; margin-left: 5px !important;}.mgRL10	{margin-right: 10px !important; margin-left: 10px !important;}
.mgRL15	{margin-right: 15px !important; margin-left: 15px !important;}.mgRL20	{margin-right: 20px !important; margin-left: 20px !important;}

/*全てのマージン*/
.pg1		{padding: 0 10px;}
.pg2		{padding: 0 20px;}
/*左右パディング*/
.pgRL5	{padding-left:5px !important; padding-right: 5px !important;}
.pgRL10	{padding-left:10px !important; padding-right: 10px !important;}
.pgRL15	{padding-left:15px !important; padding-right: 15px !important;}
.pgRL20	{padding-left:20px !important; padding-right: 20px !important;}
/*上下パディング*/
.pg0	{padding:0 !important;}
.pgT20	{padding-top: 20px !important;}
.pgT30	{padding-top: 30px !important;}
.pgT40	{padding-top: 40px !important;}
.pgB30	{padding-bottom: 30px !important;}
.pgB35	{padding-bottom: 35px !important;}
.pgB50	{padding-bottom: 50px !important;}
.pgTB5	{padding: 5px 0 !important;}
.pgTB10	{padding: 10px 0 !important;}
.pgTB15	{padding: 15px 0 !important;}
.pgTB20	{padding: 20px 0 !important;}
.pgTB30	{padding: 30px 0 !important;}
.pgTB40	{padding: 40px 0 !important;}

.pgL{padding-left: 13px;}

.hover:hover{
	display: block;
/*
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity: 0.5;
	text-decoration: none;
	-webkit-transition: opacity .5s ease,border .5s ease;
*/
	/* transition: background-color .5s ease,border .5s ease; */
}

.en{ font-family: 'Fjalla One', sans-serif;}

/*==========================================================================
  共通
========================================================================== */
.wrap{position: relative; padding: 0 13px;}

.f-left{ float:left;}
.f-right{ float:right;}

#main{}
#wrapper{
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
#container{position: relative; background: #ffeb27; width: 100%; margin: 0; padding: 0; z-index: 2; padding-top: 40px;}

.pbox1{padding: 0 43px 0 42px;}
.pbox2{padding: 0 22.5px;}

/* ヘッダー */
header{
	position: absolute;
	background: #231815;
	width: 100%;
	height: 40px;
	z-index: 100;
	text-align: center;
}
header h1{position: absolute; width: 216.5px; height: 11px; left: 50%; margin-left: -108px; top: 14px;}
header a{font-size: 11px;}
header #gnavi-btn{position: absolute; top: 0; left: 0; width: 37px; height: 40px; cursor: pointer;}

/* サイドグローバルナビ */
#gnavi{
	position: absolute;
	display: none;
	top: 0px;
	z-index: 1;
	background: #fff;
}
#gnavi>nav{
	color:#3b3b3b;
	font-size: 15px;
	overflow: scroll;
	border-bottom: 1px solid #cdcdcd;
}

#gnavi>nav ul li a span{display: block; width: 248px; height: 35px;}
#gnavi>nav ul li a{padding: 3px 0;}
#gnavi>nav>ul>li>a{border-bottom: 1px solid #cdcdcd;}
#gnavi>nav>ul>li:nth-child(1)>a{background: #f3e237; border-bottom: 1px solid #fff;}
#gnavi>nav>ul>li:nth-child(2)>a{background: #f3e237; border-bottom: 1px solid #fff;}
#gnavi>nav>ul>li>ul>li>a{ background: #cdcdcd; border-bottom: 1px solid #fff;}

/* フッター */
footer{background: #231714;}
footer #pagetop{background: #ffeb27; padding: 10px 13px;}
footer #pagetop a{margin: 0 auto; width: 34px; height: 34px;}
footer ul{padding: 14px 0px; text-align: center;}
footer ul li{display: inline-block; width: 132px; height: 41px; margin: 0 14px;}
footer h2{height: 35px; background: #fff; padding: 0 13px; text-align: center;}
footer h2 img{width: 224px; height: 35px;}
footer #copyright{display: block; padding: 0 13px; height: 31px; text-align: center;}
footer #copyright img{width: 294px; height: 31px;}

.sct-h1{padding: 15px 13px; text-align: right;}
.sct-h1 img{width: auto;}
.sct-title{font-size: 18px; font-weight: bold; color: #1558a0; line-height: 1em;}

/*モーダルウィンドウ(fancybox)*/
#fancybox-close{
	width: 18px;
	height: 18px;
	background: url("../img/fancy-close.jpg") no-repeat;
	background-size: 18px;
	top: 0px;
	right: 0px;
}


/*--------------------------------------------------------------------------------------------
 * TOP
 *------------------------------------------------------------------------------------------*/
#top-page header .header-btm{padding-top: 0px;}
#top-page #main{background: #fce001;}

/*ビジュアルイメージ*/
#keyimg-box{background: #fce001; width: 100%; overflow-x: hidden; }
.bx-wrapper .bx-viewport{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	left: 0px;
	overflow: visible !important;
	/*background: #ea0000;*/
}
.bx-wrapper{margin: 0 auto;}
.bx-wrapper .bx-controls-direction{display: none;}
.bx-wrapper .bx-pager{display: none;}

.top-list li{margin-bottom: 15px;}

.news-box .title{ background: #231815; padding: 0 13px; height: 39px;}
.news-box .title img{width: 79px; height: 39px;}
.news-box ul{}
.news-box ul li{position: relative; background: #f4f4f4;}
.news-box ul li:nth-child(2n){position: relative; background: #fff;}
.news-box ul li a,.news-box ul li p{padding: 13px;}
.news-box ul li img{position: absolute; width: 40px; 14px; top: 16px; left: 100px;}
.news-box ul li .date{ display: block; color: #8c8f95; line-height: 1.6em;}
.news-box ul li .txt{ line-height: 1.6em;}

/*--------------------------------------------------------------------------------------------
 * COMPANY 会社
 *------------------------------------------------------------------------------------------*/
/* 会社概要 */
.company-tbl{background: #fff37d; width: 100%;}
.company-tbl tr{display: block; padding: 13px;}
.company-tbl tr:nth-child(2n){background: #ffeb27;}
.company-tbl th{font-weight: bold; display: block; text-align: left; line-height: 1.4em; margin-bottom: 4px;}
.company-tbl td{display: block; line-height: 1.4em;}

/* 育成・研修体系キャリアプラン */
.train-link{text-align: center;}
.train-link li{display: inline-block; width: 96px; height: 55px; margin: 0 2px;}

.train-box{padding: 20px 13px; background: #fff;}
.train-box h3{font-size: 16px; margin-bottom: 20px; line-height: 1em;}
.train-box .img{display: block; width: 188px; height: 258px; margin: 0 auto 10px;}

.train-box2 .f-left,.train-box2 .f-right{width: 48%; font-size: 10px; text-align: center; letter-spacing: -0.5px;}

.train-txt{border: 1px solid #000; padding: 10px;}

/*--------------------------------------------------------------------------------------------
 * RECRUIT 採用
 *------------------------------------------------------------------------------------------*/
.recruit-box{padding: 23px 13px 10px 13px; background: #fff;}
.recruit-box h3{width: 73px; height: 12px;}
.recruit-box li{margin-bottom: 30px;}
.recruit-box li img{width: 180px;}
.recruit-box li .info{float:right; width: 630px;}
.recruit-box li h4{position: relative;background: #000; color: #fff; padding: 8px 10px 8px 30px; line-height: 1.6em; margin-bottom: 15px;}
.recruit-box li h4 span{position: absolute; top: 8px; left: 10px;}

.recruit-tbl{background: #fff37d; width: 100%;}
.recruit-tbl tr{display: block; padding: 13px;}
.recruit-tbl tr:nth-child(2n){background: #ffeb27;}
.recruit-tbl th{font-weight: bold; display: block; text-align: left; line-height: 1.4em; margin-bottom: 4px;}
.recruit-tbl td{display: block; line-height: 1.4em;}
.recruit-tbl td a{color: #330000; text-decoration: underline; display: inline;}
.recruit-tbl td a:hover{text-decoration: none;}

.schedule-box{border:1px solid #000; text-align: center;}
.schedule-box .title{background: #000; color: #fff; line-height: 40px; font-weight: normal;}
.schedule-box p{padding: 10px 30px;}
.schedule-box a{color: #330000; text-decoration: underline;}
.schedule-box a:hover{text-decoration: none;}
.schedule-arrow{width: 27px; height: 47px; margin: 0 auto; display: block;}

.faq-title{background: #000; color: #fff; line-height: 40px; font-weight: normal; padding-left: 20px; font-size: 14px;}
.faq-quest li{background: url("../../recruit/images/list-style.jpg") left center no-repeat; padding-left: 10px; margin-left: 5px; background-size: 2px;}
.faq-quest li a{color: #330000; text-decoration: underline; line-height: 1.6em;}
.faq-quest li a:hover{text-decoration: none;}

.faq-answer li{padding-left: 18px;margin-bottom: 20px;}
.faq-answer li{background: url("../../recruit/images/quest-icon.jpg") left 6px no-repeat; background-size: 12px;}
.faq-answer li h4{line-height: 25px; margin-bottom: 5px;}

.entry-box{text-align: center; padding-top: 30px; background: #fff;}
.entry-box img{width: auto;}