/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: Meiryo, "メイリオ","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック", sans-serif; color: #000000; font-size: 14px; line-height: 1.8em;}
body { margin: 0;}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000000; text-decoration: none; }
mark { background: #ff0; color: #000000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol , p { margin: 0; padding: 0 0 0 0; }
ul>li,ol>li{list-style-type:none;}
dd { margin: 0 0 0 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: bottom; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
h1,h2,h3,h4,h5{padding: 0; margin: 0; line-height: 1.8em;}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.cfix:before, .cfix:after { content: ""; display: table; }
.cfix:after { clear: both; }
.cfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */

@media print {
  * { /*background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important;*/ } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  /*a[href]:after { content: " (" attr(href) ")"; }*/
  /*abbr[title]:after { content: " (" attr(title) ")"; }*/
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
	body {
		-webkit-print-color-adjust: exact;
	}
}

/* ==========================================================================
    [全デバイス共通]
   ========================================================================== */

/* ----------------------------------------
 html要素デフォルト設定 
 ---------------------------------------- */
body{
	background:#fff;
}
a,a:visited{text-decoration: none; color: #1198e3;}
a:hover{color:#1198e3; text-decoration: underline; }
::selection {
	background: #3297FD;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #3297FD;
	color: #fff;
	text-shadow: none;
}
em,i{font-style: normal;}

/* ----------------------------------------
 基本ページ構造 
 ---------------------------------------- */
.clrR{color: #e83836 !important;}
.clrB{color: #000000 !important;}

.posiR{position: relative !important;}
.posiA{position: absolute !important;}

.algnR{text-align: right !important;}
.marginC{margin: 0 auto !important;}

/*■文字の設定*/
.fntS	{font-size: 71.5% !important;} /*10px*/
.fnt2S	{font-size: 86% !important;} /*12px*/
.fntL	{font-size: 93% !important;} /*13px*/
.fntXL	{font-size: 114.5% !important;} /*16px*/
.fnt2XL	{font-size: 128.5% !important;} /*18px*/
.fnt3XL	{font-size: 143.8% !important;} /*20px*/
.fnt4XL	{font-size: 171.5% !important;} /*24px*/

.Bld	{font-weight: bold !important;}
.Nml	{font-weight: normal !important;}
.clrRed {color: #F00;}
.clrKey { color: #54BA73;}
.aClr { color: #C91; text-decoration: underline;}
/*■配置の設定*/

/*縦位置*/
.vlgnT	{vertical-align: top !important;}
.vlgnM	{vertical-align: middle !important;}
.vlgnB	{vertical-align: bottom !important;}

/*横位置*/
.algnR	{text-align: right !important;}
.algnL	{text-align: left !important;}
.algnC	{text-align: center !important;}

/*■マージン、パディング設定*/
/*下マージ*/
.mgB1	{margin-bottom: 1px !important; }.mgB3	{margin-bottom: 3px !important;}
.mgB5	{margin-bottom: 5px !important; }.mgB10	{margin-bottom: 10px !important;}
.mgB15	{margin-bottom: 15px !important;}.mgB20	{margin-bottom: 20px !important;}
.mgB25	{margin-bottom: 25px !important;}.mgB30	{margin-bottom: 30px !important;}
.mgB35	{margin-bottom: 35px !important;}.mgB40	{margin-bottom: 40px !important;}
.mgB45	{margin-bottom: 45px !important;}.mgB50	{margin-bottom: 50px !important;}
.mgB55	{margin-bottom: 55px !important;}.mgB60	{margin-bottom: 60px !important;}
.mgB65	{margin-bottom: 65px !important;}.mgB70	{margin-bottom: 70px !important;}
.mgB75	{margin-bottom: 75px !important;}.mgB80	{margin-bottom: 80px !important;}
.mgB85	{margin-bottom: 85px !important;}.mgB90	{margin-bottom: 90px !important;}
.mgB95	{margin-bottom: 95px !important;}.mgB100{margin-bottom: 100px !important;}
/*左マージン*/
.mgLS	{margin-left: 22.5px !important;}
/*右マージン*/
.mgR10	{margin-right: 10px !important;}.mgR15	{margin-right: 15px !important;}
.mgR20	{margin-right: 20px !important;}.mgR30	{margin-right: 30px !important;}
/*左右マージン*/
.mgRL5	{margin-right: 5px !important; margin-left: 5px !important;}.mgRL10	{margin-right: 10px !important; margin-left: 10px !important;}
.mgRL15	{margin-right: 15px !important; margin-left: 15px !important;}.mgRL20	{margin-right: 20px !important; margin-left: 20px !important;}

/*全てのマージン*/
.pg1		{padding: 0 10px;}
.pg2		{padding: 0 20px;}
/*左右パディング*/
.pgRL5	{padding-left:5px !important; padding-right: 5px !important;}
.pgRL10	{padding-left:10px !important; padding-right: 10px !important;}
.pgRL15	{padding-left:15px !important; padding-right: 15px !important;}
.pgRL20	{padding-left:20px !important; padding-right: 20px !important;}
/*上下パディング*/
.pg0	{padding:0 !important;}
.pgT20	{padding-top: 20px !important;}
.pgT30	{padding-top: 30px !important;}
.pgT40	{padding-top: 40px !important;}
.pgB30	{padding-bottom: 30px !important;}
.pgB35	{padding-bottom: 35px !important;}
.pgB50	{padding-bottom: 50px !important;}
.pgTB5	{padding: 5px 0 !important;}
.pgTB10	{padding: 10px 0 !important;}
.pgTB15	{padding: 15px 0 !important;}
.pgTB20	{padding: 20px 0 !important;}
.pgTB30	{padding: 30px 0 !important;}
.pgTB40	{padding: 40px 0 !important;}

.hover:hover{
	display: block;
	-ms-filter: "alpha( opacity=50 )";
	filter: alpha( opacity=50 );
	opacity: 0.5;
	text-decoration: none;
	-webkit-transition: opacity .5s ease,border .5s ease;
	/* transition: background-color .5s ease,border .5s ease; */
}

.en{ font-family: 'Fjalla One', sans-serif;}


/*==========================================================================
  共通
========================================================================== */
.wrap{position: relative; width: 985px; margin: 0 auto;}

.f-left{ float:left;}
.f-right{ float:right;}

#main{background: #fcc80f url("../img/main-bg.png") left top repeat-x;}
#container{position: relative; background: #fdeeba; width: 985px; margin: 0 auto; padding: 0 0 55px;}

.pbox1{padding: 0 43px 0 42px;}
.pbox2{padding: 0 22.5px;}

/* ヘッダー */
header .header-top{background: #231815; width: 100%; height: 46px; position: fixed; z-index: 100;}
header .header-top .wrap{background: #231815; height: 46px;}
header .header-top h1{position: absolute; left: 0px; top: 14px;}
header .header-top h1 img{vertical-align:top;}
header .header-top ul{position: absolute; right: 0px; top: 9px;}
header .header-top ul li{float: left; margin-left: 20px;}

header .header-btm{padding-top: 46px;}
header .header-btm ul{height: 98px; background: url("../img/menu-border.png") right center no-repeat; padding-right: 2px;}
header .header-btm ul li{float: left; background: url("../img/menu-border.png") left center no-repeat; padding-left: 2px;}
header .header-btm ul li span{display: block; padding: 31px 28px;}
header .header-btm ul li.menu2 span{padding: 31px 27.5px;}
header .header-btm ul li.menu4 span{padding: 31px 27.5px;}
header .header-btm ul li.slc span{background: #fffde9;}

/* サブメニュー */
#main .sub-menu{background: #fffde9; display: none;}
#main .sub-menu.slc{display: block;}
#main .sub-menu li{float: left; width: 197px;}
#main .sub-menu li a{display: block; border-bottom: 3px solid #fffde9;}
#main .sub-menu li.slc a{border-bottom: 3px solid #000;}

/* フッター */
footer{background: #fff; font-size: 12px; line-height: 1em;}
footer a{color: #000000 !important;}
footer h2{line-height: 1em; padding-top: 20px; margin-bottom: 20px;}
footer .wrap{padding-bottom: 15px;}
footer .wrap>ul>li{display: inline-block; margin-right: 40px; vertical-align: top;}
footer h3{margin-bottom: 15px; font-size: 12px; line-height: 1em;}
footer .wrap>ul>li>ul>li{margin-bottom: 10px;}
footer #copyright{line-height: 46px; background: #231714; text-align: center; color: #fff;}

/*モーダルウィンドウ(fancybox)*/
#fancybox-close{
	width: 36px;
	height: 36px;
	background: url("../img/fancy-close.png") no-repeat;
	top: 0px;
	right: 0px;
}

/*モーダルウィンドウ(fancybox)*/
#top-page #fancybox-close,
#youtube-modal #fancybox-close{
	width: 37px;
	height: 37px;
	background: url("../img/youtube-close.png") no-repeat;
	top: -47px;
	right: 0px;
}



/*--------------------------------------------------------------------------------------------
 * TOP
 *------------------------------------------------------------------------------------------*/
#top-page header .header-btm{padding-top: 0px;}
#top-page #main{background: #fcc80f;}

/*ビジュアルイメージ*/
#keyimg-box{background: #fcc80f; padding-top: 46px;}
.bx-wrapper .bx-viewport{
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	left: 0px;
	overflow: visible !important;
	/*background: #ea0000;*/
}
.bx-wrapper{margin: 0 auto;}
.bx-wrapper .bx-controls-direction a{width: 56px; height: 56px; margin-top: -28px;}
.bx-wrapper .bx-prev {
	left: -76px;
	background: url("../img/bx-prev.png") 0px 0px no-repeat;
	background-size: 56px;
}
.bx-wrapper .bx-next {
	right: -76px;
	background: url("../img/bx-next.png") 0px 0px no-repeat;
	background-size: 56px;
}
.bx-wrapper .bx-next:hover { background-position: 0px 0px;}
.bx-wrapper .bx-pager{display: none;}

.top-list{margin: 0 0 20px -27.5px; padding-top: 20px;}
.top-list li{background:#fff; float: left; margin-left: 27.5px;}

.news-box .title{position: relative; float: left; width: 120px; text-align: center; background: #231815;}
.news-box .title img{position: absolute; top: 50%; left: 20px; margin-top: -9px;}
.news-box ul{float: left; width: 865px;}
.news-box ul li{background: #f4f4f4;}
.news-box ul li.bg{background: #fff;}
.news-box ul li a{display: block; padding: 20px 40px 20px 25px; background: url("../img/arrow1.png") 835px center no-repeat; color: #000000;}
.news-box ul li p{display: block; padding: 20px 40px 20px 25px; color: #000000;}
.news-box ul li span,.news-box ul li img{display: inline-block; vertical-align: top; margin-right: 15px;}
.news-box ul li img{margin-top: 6px;}
.news-box ul li .date{color: #8c8f95;}
.news-box ul li .txt{background: url("../img/arrow2.png") left 9px no-repeat; padding-left: 12px; max-width: 620px;}


#top-message{
	position: absolute;
	background: #fcc80f;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	-ms-filter: "alpha( opacity=95)";
	filter: alpha( opacity=95);
	opacity: 0.95;
	z-index: 9999;
	display: none;
}
#top-message.open{
	display: block;
}
#top-message .wrap{margin-top: 222px;}
#message-open{cursor: pointer; position: absolute; top:105px; left: 732px;}
#message-close{cursor: pointer;}

/*--------------------------------------------------------------------------------------------
 * WORKS 仕事
 *------------------------------------------------------------------------------------------*/
/* 私たちの仕事 */
.tab-box{position: relative; padding-top: 38px;}
.tab-box h3{width: 430px; background: transparent; cursor:pointer; position: absolute; top: 0px;text-align: center;}
.tab-box h3.on{background: #fff;}
.tab-box li.access h3{border: 1px solid #c71432; border-bottom: none; left: 0px; }
.tab-box li.network h3{border: 1px solid #0068b6; border-bottom: none; right: 0px;}
.tab-box .box{position: relative; display: none; padding: 26px 23px 25px;}
.tab-box .box.on{display: block;}
.tab-box li.access .box{border: 1px solid #c71432;}
.tab-box li.network .box{border: 1px solid #0068b6;}
.tab-box .box h4{margin-bottom: 23px;}

.works-group{position: relative; background: #fff; padding: 30px 43px 40px 42px;}
.works-group h3{position: absolute; top: 21px;right: 33px;}

/* すべての人がつながるために */
.universal-box{position: relative; background: #fdeeba url("../../works/images/universal-map.png") no-repeat !important; height: 934px; padding: 0 !important;}
.universal-box .pbox1{position: relative;}
.universal-box .btn-area ul li{margin-bottom: 5px;}
.universal-box .posi1{position: absolute; top: 194px; left: 42px;}
.universal-box .posi2{position: absolute; top: 543px; right: 43px;}

.universal-box .icon-link li{position: absolute;}
.universal-box .icon-link li a{display: block; width: 12px; height: 12px;}
.universal-box .icon-link li.icn1{top: 360px; left: 585px}
.universal-box .icon-link li.icn2{top: 490px; left: 558px}
.universal-box .icon-link li.icn3{top: 737px; left: 483px}
.universal-box .icon-link li.icn4{top: 723px; left: 443px}
.universal-box .icon-link li.icn5{top: 767px; left: 510px}
.universal-box .icon-link li.icn6{top: 825px; left: 497px}

.universal-modal-box{padding: 36px 35px 0 35px;}
.universal-modal-box h1{font-size: 18px; line-height: 1em;}
.universal-modal-box p{font-size: 12px; line-height: 1.6em; letter-spacing: -0.3px;}

.universal-modal-box .box{width: 530px;}
.universal-modal-box .box .f-right{padding-left: 10px;}
.universal-modal-box .box .f-left{padding-right: 8px;}
.universal-modal-box .box .txt p{font-size: 11px !important; line-height: 1.7em;}



/*--------------------------------------------------------------------------------------------
 * ENGINERS 社員
 *------------------------------------------------------------------------------------------*/
/* 先輩たちの仕事紹介 */
.senior-list{margin-left: -20px;}
.senior-list li{float: left; margin-left: 20px; margin-bottom: 20px;}

.senior-txt{width: 940px; margin: 0 auto 45px;}
.senior-txt p{display: block; float: left; width: 770px;}
.senior-txt img{display: block; float: right; width: 150px;}

.senior-box1{background: #fff;}
.senior-box1>img{float: left; width: 562px; display: block;}
.senior-box1 .txt{float: right; width: 358px; padding: 52px 30px 0 35px;}

.senior-box2{background: #191704;}
.senior-box2 .txt{float: left; width: 358px; padding: 55px 30px 0 35px; color: #fff;}
.senior-box2>img{float: right; width: 562px; display: block;}

.senior-link{margin-left: -15px;}
.senior-link li{float: left; margin-left: 15px; margin-bottom: 15px;}

/* ME女子対談、つなぐDNA対談 */
.youtube-list{text-align: center; margin-bottom: 80px;}
.youtube-list li{display: inline-block; margin: 0 7px;}

.engineers-title{font-size: 20px; font-weight: normal; color: #005bac; line-height: 1em; margin-bottom: 13px;}
.engineers-box{line-height: 2em;}
.engineers-box .interview{width: 560px; margin-bottom: 15px;}
.engineers-box .interview li{position: relative; margin-bottom: 20px; padding-left: 40px;}
.engineers-box .interview li span{position: absolute; top: 0px; left: 0px;}
.engineers-box .interview.type2 li{padding-left: 50px;}
.engineers-box .thumb{width: 360px; padding-top: 6px;}



/*--------------------------------------------------------------------------------------------
 * 100人のエンジニア
 *------------------------------------------------------------------------------------------*/
/**** プラグイン動作スタイル ****/
.isotope-item {z-index: 2;}
.isotope-hidden.isotope-item {pointer-events: none;z-index: 1;}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

/* 詳細 */
#hundred-detail{position: relative; display: none; background: #fff; padding: 30px; margin-bottom: 38px;}
#hundred-detail .job{position: absolute; top: 20px; left: 20px; width: 180px; height: 22px; line-height: 22px; font-size: 12px; color: #fff; text-align: center;}
#hundred-detail .job span{display: block;}
#hundred-detail .job .network{background: #005bac;}
#hundred-detail .job .access{background: #c71432;}
#hundred-detail .thumb{float: left; width: 350px;}
#hundred-detail .info{float: right; width: 510px;}
#hundred-detail .info h2{font-size: 16px; font-weight: normal; margin: 5px 0 20px;}
#hundred-detail .info h2 em{font-size: 32px;}
#hundred-detail .info table{width: 100%; background: #fffde9;}
#hundred-detail .info table tr.bg{background: #fff;}
#hundred-detail .info table th{line-height: 30px; padding-left: 13px; width: 42px; border-right: 1px solid #fff;}
#hundred-detail .info table td{line-height: 30px; padding-left: 13px;}
#hundred-detail .info table tr.bg th,
#hundred-detail .info table tr.bg td{line-height: 38px;}
#hundred-detail h3{font-size: 20px; font-weight: normal;}

/*オプション*/
#hundred-options{width: 960px; margin-bottom: 25px; font-size: 86%;}
#hundred-options a{color: #000;}
#hundred-options a:hover{text-decoration: none;}
#hundred-options>li{float: left; width: 300px; margin: 0 20px 25px 0;}
#hundred-options>li h3{margin-bottom: 12px;}

#hundred-options .option-check{height: 24px;}
#hundred-options .option-check li{float: left; margin-right: 25px;}
#hundred-options .option-check li a{display: block; background: url("../img/checkbox.jpg") left center no-repeat; padding-left: 20px; line-height: 24px;}
#hundred-options .option-check li a.selected{background: url("../img/checkbox-on.jpg") left center no-repeat;}

#hundred-options .select-box{position: relative; z-index: 3;}
#hundred-options .option-name{position: relative; display: block; background: url("../img/selectbox.png") no-repeat; width: 268px; height: 24px; line-height: 24px; padding: 0 20px 0 12px; z-index: 3;}
#hundred-options .option-select{display:none; position: absolute; background: #fff; border: 1px solid #ccc; border-bottom: none; z-index: 1; top: 21px; padding-top: 2px;}
#hundred-options .option-select li a{background: #f0ffff;display: block; width: 266px; height: 24px; line-height: 24px; padding: 2px 20px 2px 12px; border-bottom: 1px solid #ccc;}
#hundred-options .option-select li a:hover{background: #ddd;}

/*ボックス*/
#hundred-box{position: relative; width: 950px; margin-left: -5px;}
#hundred-box .box{position: relative; float: left; width: 180px; height: 180px; margin: 5px; cursor: pointer;}
#hundred-box .box.type{width: 370px; height: 370px;}
#hundred-box .box img{width: 100%;}
#hundred-box .box p{display: none;}
#hundred-box .box p.job{
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	width: 180px;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
	color: #fff;
}
#hundred-box .network p.job{background: #005bac; font-weight: bold;}
#hundred-box .access p.job{background: #c71432; font-weight: bold;}


/*--------------------------------------------------------------------------------------------
 * COMPANY 会社
 *------------------------------------------------------------------------------------------*/
/*.president-bg{background: #fffdd6;} *//* fff8b2*/
/* 社長メッセージ */
.president-txt{line-height: 2em;}
.president-txt2{width: 325px; float: left; line-height: 2em;}

/* 会社概要 */
.company-title{font-size: 18px; line-height: 1em; color: #1558a0;}
.company-tbl{background: #fff37d; width: 100%;}
.company-tbl tr.bg{background: #fffdd6;}
.company-tbl th{font-weight: normal; padding: 20px; width: 80px; border-right: 1px solid #fff; text-align: left;}
.company-tbl td{padding: 20px;}

/* 育成・研修体系キャリアプラン */
.train-link{margin-left: -30px;}
.train-link li{float: left; margin-left: 30px;}

.train-box{position: relative; background: #fff; padding: 30px 40px;}
.train-box h3{font-size: 14px;}
.train-box p{width: 700px;}
.train-box img{position: absolute; bottom: 30px; right: 40px;}

.train-box2 .f-left,.train-box2 .f-right{width: 430px;}
.train-box2 ul li.f-left,.train-box2 ul li.f-right{width: 206px; text-align: center; font-size: 12px;}

.train-txt{border: 1px solid #000; padding: 12px 10px;}

/* 情報通信は世の中を変える */
.change-link{margin-left: -20px;}
.change-link li{float: left; margin-left: 20px;}

.change-history{margin-bottom: 150px;}
.change-history li{margin-bottom: 60px;}
.change-history li .f-left,.change-history li .f-right{width: 430px;}
.change-history h3{position: relative; padding-left: 80px;font-size: 18px; font-weight: normal; line-height: 1.4em; letter-spacing: -1px;}
.change-history h3 span{position: absolute; left: 0px; top: 0px;}

.special-title{font-size: 18px; font-weight: bold; color: #1558a0; line-height: 1em;}

/*--------------------------------------------------------------------------------------------
 * RECRUIT 採用
 *------------------------------------------------------------------------------------------*/
.recruit-box{padding: 40px 43px 10px 42px; background: #fff; margin-bottom: 25px;}
.recruit-box li{margin-bottom: 30px;}
.recruit-box li img{float:left;}
.recruit-box li .info{float:right; width: 630px;}
.recruit-box li .info h4{background: #000; color: #fff; padding-left: 10px; line-height: 40px; margin-bottom: 22px;}

.recruit-title{font-size: 18px; line-height: 1em; color: #1558a0;}
.recruit-tbl{background: #fff37d; width: 100%;}
.recruit-tbl tr.bg{background: #fffdd6;}
.recruit-tbl th{font-weight: normal; padding: 18px 0px 18px 20px; width: 100px; border-right: 1px solid #fff; text-align: left; vertical-align: top;}
.recruit-tbl.type2 th{width: 140px;}
.recruit-tbl td{padding: 18px 30px;}
.recruit-tbl td a{color: #000000; text-decoration: underline;}
.recruit-tbl td a:hover{text-decoration: none;}

.schedule-box{border:1px solid #000; text-align: center;}
.schedule-box .title{background: #000; color: #fff; line-height: 40px; font-weight: normal;}
.schedule-box p{padding: 10px 0; background: #fffdd6;}
.schedule-box a{color: #000000; text-decoration: underline;}
.schedule-box a:hover{text-decoration: none;}

.faq-title{background: #000; color: #fff; line-height: 40px; font-weight: normal; padding-left: 20px;}
.faq-quest{background: ; padding: 15px 0 40px;}
.faq-quest li{background: url("../../recruit/images/list-style.jpg") left center no-repeat; padding-left: 10px; margin-left: 20px;}
.faq-quest li a{color: #000000; text-decoration: underline;}
.faq-quest li a:hover{text-decoration: none;}

.faq-answer{background: ; padding: 20px 0 40px;}
.faq-answer li{padding-left: 32px; margin-left: 20px; margin-bottom: 35px;}
.faq-answer li{background: url("../../recruit/images/quest-icon.jpg") left top no-repeat;}
.faq-answer li h4{line-height: 25px; margin-bottom: 15px;}


/*--------------------------------------------------------------------------------------------
 * NTT-ME クイズ
 *------------------------------------------------------------------------------------------*/
#container.quiz{background: #fdeeba url("../img/container-bg.jpg") left top repeat-x;}

.quiz-quest{margin-left: -20px;}
.quiz-quest li{float: left; width: 300px; height: 300px; margin-left: 20px;}
.quiz-quest li>a{display: block;}

.quiz-answer li{position:relative; display: none;}
.quiz-answer li.top{margin-top: -20px; padding-bottom: 20px;}
.quiz-answer li a{position: absolute; top:222px; left: 463px; color: #000000;text-decoration: underline;}
.quiz-answer li a:hover{text-decoration: none;}


/*--------------------------------------------------------------------------------------------
 * ランディング
 *------------------------------------------------------------------------------------------*/
#landing{background: #fcc80f;}
#landing .wrap{width: 800px; background: #ffeb27;}
#landing header{height: 50px; background: #fff;}
#landing header h2{padding-left: 11px;}
.landing-list{}
.landing-list li{margin-bottom: 30px;}
.landing-list li img{float:left;}
.landing-list li .info{float:right; width: 530px;}
.landing-list li .info h4{background: #000; color: #fff; padding-left: 10px; line-height: 40px; margin-bottom: 22px;}

.landing-btn{margin: 0 auto; text-align: center;}
.landing-btn li{display: inline-block; margin: 0 5px;}